<link rel="stylesheet" href="\assets\css\styles.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="topheading">
    <a href="{{site.baseurl }}/index.html" id="bheading" class="toptitle">Intra Chain Network</a>
</div>
<hr>
<header class="header">
    <a href="{{site.baseurl }}/index.html" id="bheading" class="brandname">Runtime Enhancement Proposals</a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <i class='bx bx-menu' id="menu-icon"></i>
        <i class='bx bx-x' id="close-icon"></i>
    </label>
    
    <nav class="navbar">
        <a class="lnk" href="{{ site.baseurl }}/pages/call.html">Call for review</a>
        <a class="lnk" href="{{ site.baseurl }}/pages/final.html">Finalized</a>
        <a class="lnk" href="{{ site.baseurl }}/pages/drop.html">Dropped</a>
        <a class="lnk" href="{{ site.baseurl }}/pages/tx-hash search.html">TX-Hash Lookup</a>
    </nav>
</header>
</body>
</html> 